{% extends 'layout.html' %}

{% block title %}Cyber Corsairs{% endblock %}

{% block content %}
<div class="container">
    <h2>About Us</h2>
    <p>We are a fearsome crew of swashbuckling pirates sailing the high seas in search of treasure and adventure.</p>

    <h2>Navigate the boat!</h2>
    <div class="crew-member">
        <img src="/static/crowsnest.jpg" alt="crowsnest">
        <div>
            <h3><a href="/crowsnest">Crow's nest</a></h3>
            <p>Perched high amidst billowing sails and boundless horizons, the crow's nest is a sentinel's perch atop the mast, a realm of vantage where fearless eyes pierce the expanse. A lofted cradle of wood and rope, it cradles intrepid souls who, like avian navigators, dare to ascend and grasp the secrets of wind-whispered seas. From this aerie, a mariner's dreams unfurl as they stand cloaked in the embrace of the elements, charting the course of adventure across boundless waves.</p>
        </div>
    </div>
{% endblock %}