<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Cyber Corsairs{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <header><h1>Cyber Corsairs</h1>
        <p>Welcome to the crew! Coding the Seven Seas, Byte by Byte!</p>
        {% if user %}
        <div class="user-section">
            <form action="/logout" method="get">
                <button type="submit">Logout</button>
            </form>
        </div>

        {% else %}
        <div class="user-section">
            <form action="/login" method="get">
                <button type="submit">Login</button>
            </form>
        </div>
        
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
