{% extends 'layout.html' %}

{% block title %}Login Page - Cyber Corsairs{% endblock %}

{% block content %}
    <div class="container">
        {% if access_token %}
        <h1>Welcome</h1>
        <button onclick="logout()">Log off</button>
        {% else %}
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
        {% endif %}
    </div>
    <script>
        // Log out function
        function logout() {
            document.cookie = 'access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            document.cookie = 'user_name=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            window.location.href = '/login';
        }
    </script>
{% endblock %}