<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    <title>{{title}} - Pirate's Ledger</title>
</head>

<body class="bg-orange-900">

    <header class="bg-orange-700 p-5 text-center">
        <h1 class="text-4xl font-bold">{{title}}</h1>
    </header>

    <section class="container max-w-md mx-auto p-5">
        <div class="text-white mb-5">
            <h2 class="text-3xl mb-3">Description</h2>
            <p>{{description}}</p>
        </div>
        <a href="/" class="block bg-orange-500 transition-colors hover:bg-orange-600 px-3 py-2 rounded w-full text-center">Back to list</a>
    </section>

</body>

</html>
