{% extends 'layout.html' %}

{% block title %}Cyber Corsairs{% endblock %}

{% block content %}
<div class="container">
    <h2>About Us</h2>
    <p>We are a fearsome crew of swashbuckling pirates sailing the high seas in search of treasure and adventure.</p>

    <h2>Navigate the boat!</h2>
    <div class="crew-member">
        <img src="/static/hold.jpg" alt="crowsnest">
        <div>
            <h3><a href="/hold">Hold</a></h3>
            <p>Beneath the surface, hidden from the sun's caress, lies the hold – a sanctum of treasures and tales untold. Amidst barrels and crates, where shadows weave tales of journeys embarked and exotic cargoes embarked, the hold safeguards the whispers of distant lands. Within its dim-lit embrace, history sleeps, ready to be awakened by the daring hands that tread upon its storied floorboards.</p>
        </div>
    </div>
</div>
{% endblock %}